* {
  margin: 0;
  padding: 0;
}

:root {
  --cor1: #ddb892;
  --cor2: #D9E0E9;
  --cor3: #ff8a6749;
  --cor4: #2E3A47;
}

body {
  background: url(img2.png) no-repeat center / cover;
  backdrop-filter: blur(5px) brightness(.3) saturate(2) contrast(100%);
}

header {
  height: 600px;
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.26);
}

header h1 {
  padding-top: 30px;
  text-align: center;
  color: var(--cor2);
  font-size: 40px;
}

header img {
  width: 400px;
  height: 400px;
}

.github {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 32px;
  height: 32px;
}

.center {
  padding-top: 50px;
  text-align: center;
}

.container {
  display: inline-block;
  position: relative;
  perspective: 1000px;
  transition: transform .5 ease-in-out;
}

.container img {
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.596);
  border-radius: 0 5px 5px 5px;
  transition: transform .5s ease-in-out;
}

.container:hover img {
  transform: scale(1.15) rotateY(45deg);
}

.container img,
.container h2 {
  transition: transform .5 ease-in-out;
  transform-origin: center;
}



.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cor2);
  padding: 2px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.349);
  opacity: 0;
  transition: .5s ease-in-out;
  font-size: 30px;
}

#t2 {
  opacity: 1;
}

#nome {
  top: 100%;
  left: -80%;
  font-size: 15px;
  transform: rotateX(45deg);
  animation: random 2s infinite;
  background: var(--cor3);
  pointer-events: none;
}

.container p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cor2);
  padding: 2px;
  text-align: justify;
  width: 300px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.349);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  font-size: 20px;
  transform: translate(200px) rotateY(-20deg) rotateX(-30deg);
  letter-spacing: -1px;
}

#titulop1 {
  text-align: center;
  top: -10%;
}

#p1 {
  top: 0%;
}

#titulop2 {
  text-align: center;
  top: 45%;
}

#p2 {
  top: 60%;
}

.container:hover h2 {
  transform: scale(1.15) rotateY(45deg) rotateX(0deg);
}

.container:hover p {
  opacity: 1;
}

.container:hover h2 {
  opacity: 1;
}

main {
  margin: auto;
  width: 1000px;
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.26);
  padding: 5px;
  background: url(img2.png) no-repeat center / cover;
}

.anim {
  width: 200px;
  height: 200px;
  transition: 1s ease-in-out;
}

.cent:hover .anim  {
  transform:  translate(-250px) rotateX(-30deg);
  width: 250px;
}
.cent {
  display: inline-block;
  position: relative;
  perspective: 800px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.26);
  padding: 40px;
  margin: 10px;
  margin-right: 110px;

  text-align: center;
 
  color: var(--cor2);
  transform-origin: center;
  transition: 1s ease-in-out;
}

.cent:hover {
  backdrop-filter: blur(10px) brightness(.5);
  width: 600px;
}
.text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: justify;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: 55%;
  transition: .5s ease-in-out ;
}

.cent:hover .text {
  opacity: 1;
  transition: 3s ease-in-out;
}

.img1 {
  border-radius: 73% 27% 82% 18% / 31% 27% 73% 69%;
  animation: bolha1 6s infinite alternate;
}

.img2 {
  border-radius: 63% 37% 72% 28% / 41% 17% 83% 59%;
  animation: bolha1 6s infinite alternate;
}
.img3 {
  border-radius: 53% 47% 62% 38% / 51% 7% 93% 49%;
  animation: bolha1 6s infinite alternate;
}
.img4 {
  border-radius: 83% 57% 15% 88% / 11% 68% 43% 89%;
  animation: bolha1 6s infinite alternate;
}
.img5 {
  border-radius: 33% 87% 25% 62% / 83% 34% 13% 15%;
  animation: bolha1 6s infinite alternate;
  background: var(--cor2);
}
.img6 {
  border-radius: 45% 17% 91% 46% / 25% 40% 24% 68%;
  animation: bolha1 6s infinite alternate;
  background: var(--cor2);
}
.mainproverbios {
  position: absolute;
  text-align: center;
  margin-left: 200px;
}
.proverbios {
  display: inline-block;
  position: relative;
  perspective: 800px;
  width: 400px;
  backdrop-filter: blur(10px) brightness(.5);
  height: 160px;
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.26);
  padding: 30px;
  margin-top: 20px;
  margin-left: 100px;
  text-align: justify;
  color: var(--cor2);
}
main h2 {
  text-align: center;
  color:  var(--cor2);
}
.proverbios h3 {
  text-align: left;

}
.proverbios ol, ul, li{
  list-style-type: none;
  
}

.pcent {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  opacity: 1;
  pointer-events: none;
  top: 50%;
  left: 35%;
  transition: .5s ease-in-out ;
}


@keyframes bolha1 {
  0%, 100% { 
    border-radius: 50%; 
  }
  25% { 
    border-radius: 72% 42% 63% 31% / 48% 62% 53% 45%;
  }
  50% { 
    border-radius: 59% 33% 78% 48% / 51% 44% 60% 39%;
  }
  75% { 
    border-radius: 63% 37% 74% 29% / 49% 61% 55% 46%;
  }
}

@keyframes bolha2 {
  0%, 100% { 
    border-radius: 50%; 
  }
  25% { 
    border-radius: 63% 35% 79% 42% / 53% 38% 64% 49%;
  }
  50% { 
    border-radius: 58% 40% 66% 34% / 56% 51% 60% 38%;
  }
  75% { 
    border-radius: 70% 32% 75% 41% / 44% 62% 58% 49%;
  }
}

@keyframes bolha3 {
  0%, 100% { 
    border-radius: 50%; 
  }
  25% { 
    border-radius: 65% 45% 70% 28% / 54% 37% 66% 43%;
  }
  50% { 
    border-radius: 57% 48% 73% 39% / 50% 42% 61% 51%;
  }
  75% { 
    border-radius: 67% 38% 80% 32% / 47% 53% 62% 44%;
  }
}

@keyframes bolha4 {
  0%, 100% { 
    border-radius: 50%; 
  }
  25% { 
    border-radius: 62% 40% 73% 37% / 56% 39% 65% 47%;
  }
  50% { 
    border-radius: 55% 49% 74% 41% / 52% 44% 61% 50%;
  }
  75% { 
    border-radius: 69% 36% 75% 33% / 49% 59% 58% 46%;
  }
}

@keyframes bolha5 {
  0%, 100% { 
    border-radius: 50%; 
  }
  25% { 
    border-radius: 60% 42% 78% 35% / 55% 41% 68% 47%;
  }
  50% { 
    border-radius: 62% 45% 72% 38% / 57% 43% 69% 49%;
  }
  75% { 
    border-radius: 69% 39% 77% 41% / 53% 48% 62% 46%;
  }
}

@keyframes bolha6 {
  0%, 100% { 
    border-radius: 50%; 
  }
  25% { 
    border-radius: 68% 33% 72% 30% / 54% 43% 61% 50%;
  }
  50% { 
    border-radius: 65% 44% 74% 37% / 51% 45% 63% 48%;
  }
  75% { 
    border-radius: 71% 41% 77% 36% / 50% 47% 64% 49%;
  }
}
@keyframes random {
  0%, 100% { 
    border-radius: 50%;
  }
  10% { 
    border-radius: 95% 20% 75% 40% / 55% 10% 60% 85%;
  }
  20% { 
    border-radius: 17% 50% 95% 60% / 34% 80% 10% 60%;
  }
  30% { 
    border-radius: 22% 73% 38% 58% / 87% 43% 64% 12%;
  }
  40% { 
    border-radius: 57% 82% 30% 18% / 71% 12% 50% 65%;
  }
  50% { 
    border-radius: 45% 90% 22% 56% / 35% 52% 40% 60%;
  }
  60% { 
    border-radius: 64% 27% 51% 12% / 71% 36% 50% 73%;
  }
  70% { 
    border-radius: 56% 48% 61% 43% / 74% 39% 50% 61%;
  }
  80% { 
    border-radius: 39% 54% 20% 65% / 50% 80% 67% 45%;
  }
  90% { 
    border-radius: 83% 52% 28% 48% / 33% 70% 85% 20%;
  }
}